# Ne pas inclure le frontend
client/

# Ne pas inclure les modules installés
node_modules/

# Environnements
.env
.env.local
.env.production

# Prisma généré automatiquement
/generated/prisma
/credentials/


# Cache Python
__pycache__/

# Fichiers audio, SoundFont, styles Yamaha, etc.
*.wav
*.mp3
*.mid
# *.sf2  # Commenté pour ne pas ignorer les fichiers .sf2

# ⛔ Ne pas ignorer le dossier uploads
!uploads/
!uploads/.gitkeep

# Dossiers ou fichiers temporaires
temp/
*.log

# Fichier SoundFont spécifique ignoré (une seule fois)
# soundfonts/Yamaha_PSR.sf2  # Commenté pour ne pas ignorer ce fichier
